:root {
    --color1: #000000;
    --color2: #eeff00;
    --color3: #ff0000;
    --color4: #1900ff;
    --color5: #00ff22;
    --color6: #ff00dd;
    --color7: #ffffff;
    --color8: #ffa500;
    --color9: #7700ff9c;
    --color10: #ffffff00;
}






* {
    box-sizing: border-box;
    color: var(--color1);
}







body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    background-color: var(--color1);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color3);
    align-items: flex-end;
    border-bottom: 5px solid var(--color4);
}

.profile-pic{
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 10px double var(--color4);
    border-radius: 20px;
    align-self: center;
}

.website-heading{
    margin-right: auto;
}

.navbar{
    margin: 10px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.site-jump{
    text-decoration: none;
    margin: 10px;
}






.major-section{
    display: flex;
    flex-direction: row;
    margin: 50px 100px 50px 100px;
    background-color: var(--color6);
}

.section-header{
    white-space: nowrap;
    margin: 0%;
    padding: 10px;
    background-color: var(--color5);
    border-right: 5px solid var(--color4);
}

.about-me-content{
    margin: 30px;
    padding: 10px;
    background-color: var(--color2);
}








.projects-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-card{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color2);
    padding: 10px;
    padding-top: 0;
    margin: 30px;
    overflow: hidden;
    flex: 0,0,2;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color2);
    padding: 10px;
    padding-top: 0;
    margin: 30px;
    height: 400px;
    width: 400px;
    overflow: hidden;
    flex: 0,0,1;
}

.project-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid var(--color1);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--color9);
}

.overlay:hover{
    background-color:var(--color10);
}

.project-title{
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 10px;
    background-color: var(--color8);
}






.contacts{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    background-color: #eeff00;
    width: 100%;
    margin: 30px;
}

.contact-info{
    margin: 0px 10px;
    list-style: none;
}





footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color3);
}

.end-tag{
    font-size: 150%;
    margin: 10px;
}


.end-msg{
    text-align: center;
}

.secret{
    color: var(--color3);
    background-color: var(--color3);
    text-decoration: none;
    margin-bottom: 15px;
    padding: 5px;
}

.secret:hover{
    color:var(--color1);
    border: 1px outset var(--color3);
    border-radius: 5px;
}



/*962*/


@media (max-width: 866px){
    ul{
        padding: 0px;
    }
}

@media (max-width: 852px){
    header{
        flex-direction: column;
        align-items: center;
    }
    .website-heading{
        margin: auto;
    }
    .major-section{
        flex-direction: column;

    }
    .section-header{
        border-bottom: 5px solid var(--color4);
        border-right: 0;
    }
    .contacts{
        flex-direction: column;
        width: auto;
        align-items: center;
        margin: 30px;
        padding-left: 0;
    }   
}

@media (max-width: 540px){
    ul{
        padding: 0px;
    }
    .major-section{
        margin: 50px 30px 50px 30px;
    }
    .project-title{
        padding: 10px;
    }
    .contacts{
        align-items: center;
        margin: 5px;
    } 
}

@media (max-width: 360px){
    .website-heading{
        text-align: center;
    }
}


/*
@media (max-width: 343px){
    ul{
        display: flex;
        flex-direction: column;
    }
}
*/