:root {
    --color1: #ffe8d1;
    --color2: #568EA3;
    --color3: #826251;
    --color4: #68C3D4;
    --color5: #9F9895;
    --color6: #357D63;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: black;
    background-color: #fff;
}

body



header
.website-heading
#profile-pic
.nav-bar
.nav-bar-items{}
.site-jump



main



.about-me-content
.section-header



.project-content
.section-header

.feature-project-card
.feature-p-roject-title
.feature-project-image
.feature-project-jump

.card
.project-title
.project-image
.project-jump



.contact-me-content
.contact-me-form
.form-lable
.form-input
.textbox
.form-submit



footer
.end-msg
.secret