/*Custom Variables*/
:root {
    --color1: #000000;
    --color2: #eeff00;
    --color3: #ff0000;
    --color4: #1900ff;
    --color5: #00ff22;
    --color6: #ff00dd;
    --color7: #ffffff;
    --color8: #ffa500;
    --color9: #00000070;
    --color10: #ffffff00;
}





/* Universal Styles */
* {
    box-sizing: border-box;
    color: var(--color1);
}






/* Styles for the body elements */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    background-color: var(--color1);
}






/*Styles for the header and the contents within.*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color3);
    align-items: flex-end;
    border-bottom: 5px solid var(--color4);
}

.profile-pic{
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 10px double var(--color4);
    border-radius: 20px;
    align-self: center;
}

.website-heading{
    margin-right: auto;
}

.navbar{
    margin: 10px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.site-jump{
    text-decoration: none;
    margin: 10px;
}

.navbar ul li:hover{
    background-color: var(--color2);
    border-radius: 20px;
}






/*Styles for the "About Me" Section and the contents within.*/
.major-section{
    display: flex;
    flex-direction: row;
    margin: 50px 100px 50px 100px;
    background-color: var(--color6);
}

.section-header{
    white-space: nowrap;
    margin: 0%;
    padding: 10px;
    background-color: var(--color5);
    border-right: 5px solid var(--color4);
}

.about-me-content{
    margin: 30px;
    padding: 10px;
    background-color: var(--color2);
}







/*Styles for the "Projects" section and the contents within.*/
.projects-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.featured-project{
    display: flex;
    
    
    width: 100%;
    justify-content: space-evenly;

}

.featured-card{
    position: relative;
    background-color: var(--color2);
    padding-top: 0;
    margin: 30px;
    width: 720px;
    height: 720px;
    overflow: hidden;
    justify-content: space-evenly;
}

.other-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.card{
    position: relative;
    background-color: var(--color2);
    padding-top: 0;
    margin: 30px;
    height: 360px;
    width: 360px;
    overflow: hidden;
}

.project-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid var(--color8);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--color9);
}

.overlay:hover{
    background-color:var(--color10);
}

.project-title{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    background-color: var(--color8);
}






/*Styles for the "Contact Me" section and the contents within*/
.contacts{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    background-color: #eeff00;
    width: 100%;
    margin: 30px;
    padding: 0;
}

.button {
    margin: 0px 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color5);
    color: var(--color1);
    text-decoration: none;
    border-radius: 30px;
  }

  .button:hover{
    background-color: var(--color3);
  }








/*Styles for the footer section and the contents within.*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color3);
}

.end-tag{
    font-size: 150%;
    margin: 10px;
}

.end-msg{
    text-align: center;
}

.secret{
    color: var(--color3);
    background-color: var(--color3);
    text-decoration: none;
    margin-bottom: 15px;
    padding: 5px;
}

.secret:hover{
    color:var(--color1);
    border: 1px outset var(--color3);
    border-radius: 5px;
}






/*Media Queries for different devices. Dimensions are mostly presets from chrome devtool, but a few are custom.*/

@media (max-width: 1157px){
    .major-section{
        flex-direction: column;
    }
    .section-header{
        border-bottom: 5px solid var(--color4);
        border-right: 0;
    }
    .contacts{
        margin-left: 0px;
    }
    
}

@media (max-width: 869px){
    ul{
        padding: 0px;
    }
}

@media (max-width: 852px){
    header{
        flex-direction: column;
        align-items: center;
    }
    .website-heading{
        margin: auto;
    }
    
    .major-section{
        margin: 50px 30px 50px 30px;
    } 
    
    .contacts{
        flex-direction: column;
        width: auto;
        align-items: center;
        margin: 0;
    }   
    .button{
        margin:5px
    }
}

@media (max-width: 360px){
    .website-heading{
        text-align: center;
    }
}
